.header {
  //list-style-type: none;
  display: flex;
  //justify-content: space-between;  
  width: 100%;
  //padding: 1rem;
  //background-color: black;
  text-align: center;
  //vertical-align: middle;
  //flex-direction: column;
  //justify-content: center;
  min-height: 35em;
  height: auto;
  background: transparent url(bg-subpage.jpg) no-repeat 100% 100%;
  //background-size: 100%;
  margin-bottom: 8em; 
}
header > .titill {
  align-self: center;
  margin-left: 0.5em;
  font-size: 4em;
  color: white;
  font-family: 'Roboto Slab', serif;
  
}
.header > nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  //margin-right: 20em;
}

