.lnav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  //line-height: 2rem;
  align-items: center;
  width: 100%;
  //padding: 0.00000001rem;
  //background-color: rgba(0, 0, 0, 0.5);
  text-align: center;

  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__haegri {
    justify-content: flex-end;

    @media (max-width: 600px) {
      flex-wrap: wrap;
      justify-content: center;
    }

  }
}

.lnav .haegri {
  justify-content: flex-end;
}

nav {
  position: fixed;
}
