.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #eee;
  background-color: #666;

  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;

  &:hover {
    color: #eee;
    background-color: #333;
    transition: background 500ms, ease 500ms;
  }

  &--first {
    align-self: flex-start;
  }

  &--inverted {
    color: #666;
    background-color: #eee;
  }

  &--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  &--disabled,
  &--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee;
  }
}
