@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.25;
  }

  45% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.heading {
  margin-top: 10rem;
  width: 100%;
  padding: 0;
  border: none;

  font-family: "Roboto Slab", georgia, serif;
  font-size: 2rem;

  &--one {
    font-size: 3rem;
    transition: opacity 250ms linear 0;
    font-size: 2rem;
    font-size: 3.4rem;
    opacity: 1;
    color: black;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 2s;
  }

  &--two {
    font-size: 2.25rem;
    opacity: 1;
    color: black;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 1s;
    /*margin-bottom: 2rem;*/
  }

  &--three {
    font-size: 1rem;
  }
}
