@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.25;
  }

  45% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

.lheading {
  //margin-top: 10rem;
  width: 100%;
  margin: auto;
  padding: 0;

  border: none;
  font-family: "Roboto Slab", georgia, serif;
  font-size: 2.25rem;

  &--one {

    font-size: 3.75rem;
    transition: opacity 250ms linear 0;


    opacity: 1;
    color: black;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 2s;
  }

  &--two {

    font-size: 2.25rem;
    opacity: 1;
    color: black;
    transition: text 3s, opacity 1s ease-in;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 1s;
    /*margin-bottom: 2rem;*/
  }

  &--three {
    font-size: 1rem;
  }
}
