@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab:400,700");
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%; }

.checkmynd {
  width: 4%;
  position: relative;
  top: 30px; }

.h3medmynd {
  position: relative;
  left: 30px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px; }

.col-12 {
  width: 100%; }

.col-4 {
  width: 33.33333%; }

.col-6 {
  width: 50%; }

.col-8 {
  width: 66.66667%; }

@media (max-width: 599px) {
  .col-sm-12 {
    width: 100%; } }

.header {
  text-align: center;
  vertical-align: middle;
  background: transparent url(bg.jpg) no-repeat fixed 50% 50%;
  width: 100%;
  min-height: 700px;
  height: auto; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0.25; }
  45% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.heading {
  margin-top: 10rem;
  width: 100%;
  padding: 0;
  border: none;
  font-family: "Roboto Slab", georgia, serif;
  font-size: 2rem; }
  .heading--one {
    font-size: 3rem;
    transition: opacity 250ms linear 0;
    font-size: 2rem;
    font-size: 3.4rem;
    opacity: 1;
    color: black;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 2s; }
  .heading--two {
    font-size: 2.25rem;
    opacity: 1;
    color: black;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 1s;
    /*margin-bottom: 2rem;*/ }
  .heading--three {
    font-size: 1rem; }

.text__p {
  margin-bottom: 3rem;
  margin-top: 3rem; }

.p {
  padding: 3rem 0;
  color: white; }
  .p--subscript {
    color: rgba(102, 102, 102, 0.85);
    padding: 2rem; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0.25; }
  45% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.button {
  display: inline-block;
  margin-right: 2rem;
  /*margin: 0;*/
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333;
    transition: background 500ms, ease 500ms; }
  .button--first {
    align-self: flex-start;
    background: transparent;
    border: none;
    font-family: "Roboto Slab: 700";
    font-size: 2rem; }
  .button--second {
    background: transparent;
    border: none; }
  .button--third {
    width: 80%; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee; }
  .button--transparent {
    background-color: rgba(102, 102, 102, 0.85);
    border: none;
    width: 60%;
    margin: 2rem;
    font-size: 2rem;
    max-width: 8rem;
    opacity: 1;
    animation-name: fadeIn;
    animation-delay: 1ms;
    animation-duration: 3s; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  /*&:hover {
    background-color: #ddd;
    transition: background 500ms, ease 500ms;
  }*/ }
  @media (min-width: 800px) {
    .card--wide {
      display: flex; } }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .card__content {
        align-items: center; } }
  .card__text {
    text-align: center; }
  .card__img {
    width: 50%;
    min-width: 200px;
    max-width: 100%;
    border-radius: 50%; }
    @media (min-width: 800px) {
      .card__img {
        height: 100%;
        border-radius: 80%;
        width: 100%; } }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 120px;
  margin-left: -10px;
  align-items: stretch; }

.cardlist__col {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 100%; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 33.33333%; } }

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.001rem;
  background-color: rgba(0, 0, 0, 0.01);
  text-align: center; }
  .nav__haegri {
    justify-content: flex-end; }

.nav .haegri {
  justify-content: flex-end; }

.footer {
  width: 100%;
  min-width: 200px;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #4b4b4b;
  /*&:hover {
    background-color: #ddd;
    transition: background 500ms, ease 500ms;
  }*/ }
  @media (min-width: 800px) {
    .footer--wide {
      display: flex; } }
  .footer__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .footer__content {
        align-items: center; } }
