@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab:400,700");
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-4 {
    width: 33.33333%; }
  .col-8 {
    width: 66.66667%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; } }

.header {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: black;
  text-align: center; }

.heading {
  width: 100%;
  padding: 0;
  border: none;
  font-family: "Roboto Slab", georgia, serif;
  font-size: 2rem; }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .heading--three {
    font-size: 1rem; }

.text__p {
  margin-bottom: 3rem; }

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: "Roboto Slab", helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }
  .button:hover {
    color: #eee;
    background-color: #333;
    transition: background 500ms, ease 500ms; }
  .button--first {
    align-self: flex-start;
    background-color: #000;
    border: none;
    font-style: bold;
    font-size: 2rem; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    border-color: #eee;
    color: #999;
    background-color: #eee; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
  @media (min-width: 800px) {
    .card--wide {
      display: flex; } }
  .card:hover {
    background-color: #ddd;
    transition: background 500ms, ease 500ms; }
  .card__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; }
    @media (min-width: 800px) {
      .card__content {
        align-items: flex-start; } }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
    @media (min-width: 800px) {
      .card__img {
        height: 100%;
        min-width: 400px;
        object-fit: cover; } }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px;
  align-items: stretch; }

.cardlist__col {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  width: 100%; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 50%; } }
