html{
  font-size: 16px;
  display: flex;
}

body{
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav__vinstri{
  justify-content: flex-start;
}

.nav__haegri{
  justify-content: flex-end;
}

nav{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.001rem;
  background-color: rgba(0, 0, 0, 0.01);
  text-align: center; }


header{
  color: white;
  background: transparent url(bg-subpage.jpg) no-repeat fixed 50% 50%;
  width: 100%;
  min-height: 500px;
  background-size: cover;
}

ul{
  flex-direction: row;
}

header{
  flex-direction: row;
}

header > .titill{
  align-self: center;
  margin-left: 0.5em;
}

footer{
  background-color: rgb(57, 58, 61);
  color: white;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
}

h2{
  margin-top: 3em;
}

header{
  display: flex;
  justify-content: row;
}

blockquote{
  width: 50%;
  float: right;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 1.125em;
  margin: 3rem;
}

.source{
  font-size: 0.75em;
  margin-top: 1em;
  font-style: normal;
}

footer{
  display flex;
  flex-direction: row;
  justify-content: space-around;
}

footer > .vinstri{
  align-self: flex-start;
}

footer > .haegri{
  align-self: flex-end;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #eee;
  background-color: #666;
  font-family: 'Roboto Slab', helvetica, arial, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  color: #eee;
  background-color: #333;
  transition: background 500ms, ease 500ms; }


.button--first{
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto Slab';
  font-weight: bold;
  border: none;
  align-self: flex-start;
}

.button--first:hover{
  background-color: rgba(0, 0, 0, 0);
}

.button--second{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-right: 50px;
}

.button--third{
  margin-right: 70px;
}

.lfooter {
  width: 100%;
  min-width: 200px;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #4b4b4b;
}

  @media (min-width: 800px) {
    .lfooter--wide {
      display: flex; } }
  .lfooter__heading {
    margin-bottom: 15px;
    width: 100%;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .lfooter__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    @media (min-width: 800px) {
      .lfooter__content {
        align-items: center; } }
